@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


body {
    background: linear-gradient(20deg, #5c0672, #570191, #330191);
    margin: 0;
    overflow-x: hidden;
}

@layer utilities {
    .text-outline-black {
        text-shadow:
            2px 0 #000,
            -2px 0 #000,
            0 2px #000,
            0 -2px #000,
            1px 1px #000,
            -1px -1px #000,
            1px -1px #000,
            0px 4px #000,
            -1px 1px #000;
    }
}


.bg-noise {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;

    width: 200%;
    height: 200vh;
    background: transparent url('../assets/images/noise-transparent.png') repeat 0 0;
    background-size: 800px;
    animation: bg-animation .2s infinite;
    opacity: 0.7;
    visibility: visible;

    z-index: -1;


}

.bg-grid {
    content: '';
    animation: bg-scrolling-reverse 10s infinite linear;
    background: url('../assets/images/grid.png') repeat 0 0;
    background-size: 150px;
    position: fixed;
    inset: 0;
    z-index: -1;

}



.page-main .logo {
    animation: bubble 2s ease-in-out 0s infinite alternate both;
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 150px 150px;
    }
}

@keyframes bubble {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}